global-reset()
nested-reset()
reset-html5()

html, body
	height      100%
	background  linear-gradient( top, #234, #456 )
	font-family Tahoma
	color       #EEE

.chat
	absolute   top 20px left 20px
	bottom     20px
	right      32px

.log
	absolute   top 0px left 0px
	bottom     42px
	width      100%
	border     1px solid #000
	padding    5px
	background rgba( 0, 0, 0, 0.8 )
	overflow   auto

input
	absolute   bottom 0px left 0px
	height     20px
	width      100%
	padding    5px
	border     1px solid #000
	background rgba( 0, 0, 0, 0.8 )
	color      #EEE